<div class="modal fade" id="crearMaterial2">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Nuevo Material</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <form action="">
                    <div class="mb-3">
                        <label for="titulo" class="form-label">Título</label>
                        <input type="text" id="titulo" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="para" class="form-label">Para</label>
                        <select id="para" name="para" class="form-select">
                            <option value="opcion1">Todos los alumnos</option>
                            <option value="opcion2">Cristian Andres Cid Rodriguez</option>
                            <option value="opcion2">Daniel Macedo Martinez</option>
                            <option value="opcion2">Juan Mateo Hernandez De Luna</option>

                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="tema" class="form-label">Tema</label>
                        <input type="text" id="tema" name="tema" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="descripcion" class="form-label">Descripción (opcional)</label>
                        <textarea id="descripcion" name="descripcion" class="form-control"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="descripcion" class="form-label">Link</label>
                        <input type="text" name="" id="" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="adjunto" class="form-label">Adjuntar</label>
                        <input type="file" id="adjunto" name="adjunto" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-primary boton">Guardar</button>
                </form>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
