{% extends 'layouts/baseAdmin.html' %}
{% load static %}
{% block content %}
<link href="{% static 'css/Proyectos/ListaProyectos.css' %}" rel="stylesheet">
<div class="row row-cols-1 row-cols-md-3 g-4">
    {% for proyecto in proyectos %}
<div class="col">
<a href="{% url 'FasesCoil' proyecto.5 %}" class="text-decoration-none text-dark ">
    <div class="card h-100 my-4 {{proyecto.4}}">
        <div class="card-body">
            <h5 class="card-title">{{proyecto.1}}</h5>
            <h6 class="card-text">{{proyecto.2}}</h6>
            <h6 class="card-text">{{proyecto.3}}</h6>
        </div>
        <div class="card-footer">
            <small class="text-body-secondary fs-6">
                {% for nombre in proyecto.6 %}
                    {{ nombre }} {% if not forloop.last %} |{% endif %}
                {% endfor %}
            </small>
        </div>
    </div>
</a>
</div>
{% empty %}

{% endfor %}
</div>
{% endblock %}