{% extends 'layouts/baseAdmin.html' %} {% load static %} {% block content %}

<link rel="stylesheet" href="{% static 'css/Proyectos/ProyectoDetail.css' %}" />
{% include "layouts/ClaseBase.html" %}
<div class="titulo">
  <h1>FORO</h1>
</div>
<div class="row">
  {% if proyectoDetails.0.8 == False %}
  <div class="col-sm-3">
    <div class="mt-2 tarjeta">
      <p class="titulo-2">Unirse a la conferencia</p>
      <button
        class="boton_unirse"
        onclick="location.href='{{proyectoDetails.0.10}}'"
      >
        Entrar
      </button>
    </div>
    <div class="mt-2 tarjeta">
      <p class="titulo-2">Actividades pendientes</p>
      <a href="{% url 'ViAlActividades' %}" class="correguir">
        <div class="icono">
          <span class="material-symbols-outlined"> task_alt </span>
        </div>
        <div class="columna">
          <div class="subtexto-1">Actividad de prueba</div>
          <div class="fecha">22/05/24</div>
        </div>
      </a>
      <a
        class="btn btn-outline-primary mt-3"
        href="{% url 'FasesCoil' codigo %}"
        >Mostrar más</a
      >
    </div>
  </div>
  {% endif %}
  <div class="col mt-2">
    {% if proyectoDetails.0.8 == False %}
    <div>
      <form
        action="{% url 'PublicarComentario' proyectoId codigo %}"
        method="post"
      >
        {% csrf_token %}
        <div class="input-group mb-3 input-group-lg">
          <textarea
            class="form-control px-2"
            placeholder="Publica algo..."
            name="comentario"
          ></textarea>
          <button class="boton_enviar" type="submit">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="40px"
              viewBox="0 -960 960 960"
              width="40px"
              fill="#FFFFFF"
            >
              <path
                d="M120-160v-640l760 320-760 320Zm60-93 544-227-544-230v168l242 62-242 60v167Zm0 0v-457 457Z"
              />
            </svg>
          </button>
        </div>
      </form>
    </div>
    {% endif %} {% for anuncio in anuncios %}
    <div class="mt-2 tarjeta">
      <div class="correguir">
        <div class="icono">
          <span class="material-symbols-outlined"> account_circle </span>
        </div>
        <div class="columna">
          <div class="titulo-2">{{anuncio.4}} {{anuncio.5}}</div>
          <div class="fecha" id="utc-time">
            {{anuncio.3}}{% if anuncio.2 != anuncio.3 %} (Editado){% endif %}
          </div>
        </div>
      </div>
      <p class="texto">{{anuncio.1}}</p>
      {% if proyectoDetails.0.8 == False %}
      <div>
        <form
          action="{% url 'ComentarPublicacion' anuncio.0 codigo%}"
          method="post"
        >
          {% csrf_token %}
          <div class="input-group mb-3 input-group">
            <input
              type="text"
              class="form-control px-2"
              placeholder="Comenta..."
              name="comentar"
              required
            />
            <button class="boton_enviar" type="submit">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                height="40px"
                viewBox="0 -960 960 960"
                width="40px"
                fill="#FFFFFF"
              >
                <path
                  d="M120-160v-640l760 320-760 320Zm60-93 544-227-544-230v168l242 62-242 60v167Zm0 0v-457 457Z"
                />
              </svg>
            </button>
          </div>
        </form>
      </div>
      {% endif %}
      {% for comentario in comentarios %}
      {% for a in comentario.1 %}
      {% if a.6 == anuncio.0 %}
      <div class="tarjetaComentarios mt-2">
        <div class="correguir">
          <div class="icono"><span class="material-symbols-outlined"> account_circle </span></div>
          <div class="columna">
            <div class="titulo-2">{{a.4}} {{a.5}}</div>
            <div class="fecha" id="utc-time">
              {{a.3}}{% if a.2 != a.3 %} (Editado){% endif %}
            </div>
          </div>
          {% include "pages/Modals/EditarComentarioAnuncio.html" %}
          {% if layout.0 == "Alumno" and a.7 == layout.8 and proyectoDetails.0.8 == False %}
          <div class="p-2 ms-auto comentarioConfig"><a href="" data-bs-toggle="modal" data-bs-target="#Comentario{{a.0}}" title="Editar"><i class="bi bi-pencil"></i></a> <a href="{% url 'eliminarComentario' a.0 codigo %}" title="Eliminar"><i class="bi bi-trash"></i></a></div>
          {% elif layout.0 == "Profesor" and proyectoDetails.0.8 == False %}
          <div class="p-2 ms-auto comentarioConfig"> 
            {% if a.8 == layout.8 %}
            <a href="" data-bs-toggle="modal" data-bs-target="#Comentario{{a.0}}" title="Editar"><i class="bi bi-pencil"></i></a>
          {% endif %} <a href="{% url 'eliminarComentario' a.0 codigo %}" title="Eliminar"><i class="bi bi-trash"></i></a></div>{% endif %}
        </div>
        
        <p class="texto">{{a.1}}</p>
      </div>
      {% endif %}
      {% endfor %}
      {% endfor %} 
      
    </div>
    {% empty %} {% endfor %}
  </div>
</div>

{% endblock %}
