{% extends 'layouts/baseAdmin.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/Proyectos/ProyectoDetail.css' %}">
{% include "layouts/ClaseBase.html" %}
<div class="titulo">
    <h1>FORO</h1>
</div>
<div class="row">
    {% if proyectoDetails.0.8 == False %}
    <div class="col-sm-3">
        <div class="mt-2 tarjeta">
            <p class="titulo-2">Unirse a la conferencia</p>
            <button class="boton_unirse" onclick="location.href='{{proyectoDetails.0.10}}'">Entrar</button>
        </div>
        <div class="mt-2 tarjeta">
            <p class="titulo-2">Actividades pendientes</p>
            <a href="{% url 'ViAlActividades' %}" class="correguir">
                <div class="icono"><span class="material-symbols-outlined">
                        task_alt
                    </span></div>
                <div class="columna">
                    <div class="subtexto-1">Actividad de prueba</div>
                    <div class="fecha">22/05/24</div>
                </div>
            </a>
            <a class="btn btn-outline-primary mt-3" href="{% url 'FasesCoil' codigo %}">Mostrar más</a>
        </div>
    </div>
    {% endif %}
    <div class="col mt-2">
        {% if proyectoDetails.0.8 == False %}
        <div>
            <form action="">
                <div class="input-group mb-3 input-group-lg">
                    <input type="text" class="form-control px-2" placeholder="Publica algo...">
                    <button class="boton_enviar"><svg xmlns="http://www.w3.org/2000/svg" height="40px"
                            viewBox="0 -960 960 960" width="40px" fill="#FFFFFF">
                            <path
                                d="M120-160v-640l760 320-760 320Zm60-93 544-227-544-230v168l242 62-242 60v167Zm0 0v-457 457Z" />
                        </svg></button>
                </div>
            </form>
        </div>
        {% endif %}
        <div class="mt-2 tarjeta">
            <div class="correguir">
                <div class="icono"><span class="material-symbols-outlined">
                    account_circle
                    </span></div>
                <div class="columna">
                    <div class="titulo-2">Autor</div>
                    <div class="fecha">22/05/24</div>
                </div>
            </div>
            <p class="texto">In minim non adipisicing aute irure enim fugiat cupidatat qui magna do pariatur.</p>
            {% if proyectoDetails.0.8 == False %}
            <div>
                <form action="">
                    <div class="input-group mb-3 input-group-lg">
                        <input type="text" class="form-control px-2" placeholder="Comenta...">
                        <button class="boton_enviar"><svg xmlns="http://www.w3.org/2000/svg" height="40px"
                                viewBox="0 -960 960 960" width="40px" fill="#FFFFFF">
                                <path
                                    d="M120-160v-640l760 320-760 320Zm60-93 544-227-544-230v168l242 62-242 60v167Zm0 0v-457 457Z" />
                            </svg></button>
                    </div>
                </form>
            </div>
            {% endif %}
        </div>
    </div>
</div>
</div>

{% endblock %}