{% extends 'layouts/PWA_BASE.html' %}
{% load static %}
{% block content %}
<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <h2 class="card-title text-center mb-4">Inicio de Sesión</h2>
            <form id="loginForm" method="post" class="needs-validation" novalidate>
                {% csrf_token %}
                <div class="mb-3">
                    {{ form.nombre_usuario.label_tag }}
                    {{ form.nombre_usuario }}
                    <div id="usernameFeedback" class="invalid-feedback">
                        El nombre de usuario no existe.
                    </div>
                </div>
                <div class="mb-3">
                    {{ form.password.label_tag }}
                    {{ form.password }}
                    <div id="passwordFeedback" class="invalid-feedback">
                        Las credenciales son incorrectas.
                    </div>
                </div>
                <div class="d-grid">
                    <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
                </div>
                <div class="text-center mt-3">
                    <p>¿Aún no te has registrado? <a href="{% url 'Registro' %}">Crear cuenta</a></p>
                    <p><a href="{% url 'password_reset' %}">Olvidé mi Contraseña</a></p>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="{% static 'vendor/bootstrap-5.3.3-dist/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'javascripts/Login/Login.js' %}"></script>
{% endblock %}
